@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');

.header {
    font-family:'Stick No Bills', sans-serif;
    font-size: 90px;
    color: yellow;
    text-align: center;
}

.pageheader {
    font-family:'Stick No Bills', sans-serif;
    font-size: 60px;
    color: yellow;
    text-align: center;
}

.subhead {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: yellow;
    
}

.lists {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin:0 auto;
    display:table;
    background-color: white;
    color: black;
    padding-left: 4 %;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.item {
    color: black;
}

div {
    background-color:white;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin:0 auto;
    display:table;
}

.smallbutton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin:0 auto;
    display:table;
}

.bodytext {
    background-color: white;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.background {
    background-color: rgb(197, 11, 11);
}

.pageimg {
    height:auto;
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerimg {
    height:auto;
    width:1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}